@font-face {
  font-family: digital-7-mono;
  src: url('fonts/digital-7-mono.ttf') format('truetype');
}

@font-face {
  font-family: digital-7;
  src: url('fonts/digital-7.ttf') format('truetype');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  background-color: paleturquoise;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ready {
  background-color: springgreen;
}

.header {
  background-color: dodgerblue;
  padding: 20px;
  color: white;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  z-index: 1;
}

.scramble {
  font-size: 1.5em;
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-button {
  width: 5.5em;
  color: white;
  background-color: deepskyblue;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 10px;
  margin-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.centered-text {
  text-indent: 0;
  text-align: center;
}

.type-dropdown option {
  height: 1.5em;
}

.timer {
  flex: 1;
  transition: background-color .1s;
  display: flex;
}

.timer-times-container {
  flex: 1;
  max-width: 300px;
  background-color: dodgerblue;
  box-shadow: 4px 0 8px rgba(0, 0, 0, .3);
  overflow-y: auto;
}

.timer-times-table {
  margin: 20px auto;
}

.timer-times-table th, .timer-times-table td {
  color: #FFF;
  padding: 5px 10px;
}

.timer-text-container {
  font-size: 30vw;
  font-family: digital-7-mono, monospace;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-text {
  margin-top: calc(20%); /* TODO figure out why the text baseline is off */
}

.timer-text-medium {
  font-size: 25vw;
}

.timer-text-small {
  font-size: 20vw;
}

.timer-text-smallest {
  font-size: 15vw;
}