@font-face {
  font-family: digital-7-mono;
  src: url('fonts/digital-7-mono.ttf') format('truetype');
}

@font-face {
  font-family: digital-7;
  src: url('fonts/digital-7.ttf') format('truetype');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ready {
  background-color: springgreen;
}

.header {
  background-color: dodgerblue;
  padding: 20px;
  color: white;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  z-index: 1;
}

.logo {
  width: 260px;
  height: 52px;
  margin-top: 5px;
}

.scramble {
  font-size: 2em;
  flex: 1;
  margin-top: 15px;
}

.header-buttons-container {
  display: flex;
  flex-direction: column;
}

.header-buttons-container > div {
  flex: 1;
  display: flex;
}

.header-button {
  max-width: 135px;
  flex: 1;
  color: white;
  background-color: #0dd;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-button:not(:last-child) {
  margin-right: 10px;
}

.header-buttons-container-top > * { /* TODO figure out a better way to do this */
  margin-bottom: 5px;
}

.header-buttons-container-bottom > * {
  margin-top: 5px;
}

.centered-text {
  text-indent: 0;
  text-align: center;
}

.type-dropdown option {
  height: 1.5em;
}

.timer {
  flex: 1;
  transition: background-color .1s;
  display: flex;
}

.timer-times-container {
  flex: 1;
  max-width: 300px;
  background-color: #55f;
  box-shadow: 4px 0 8px rgba(0, 0, 0, .3);
  overflow-y: auto;
  color: #FFF;
}

h4.timer-times-mean {
  margin-top: 20px;
  margin-bottom: 5px;
}

h4.timer-times-avg {
  margin-top: 0;
  margin-bottom: 5px;
}

.timer-times-table {
  margin: 20px auto;
}

.timer-times-table th, .timer-times-table td {
  padding: 5px 10px;
}

.timer-text-container {
  font-size: 30vw;
  font-family: digital-7-mono, monospace;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-text {
  max-height: 100%;
  line-height: initial;
}

.timer-text-medium {
  font-size: 25vw;
}

.timer-text-small {
  font-size: 20vw;
}

.timer-text-smallest {
  font-size: 15vw;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0dd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0cc;
}

.field > *:not(:last-child) {
  margin-right: 15px;
}

.solve-number {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
}