html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  background-color: lightcyan;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: dodgerblue;
  padding: 20px;
  color: white;
  display: flex;
}

.scramble {
  font-size: 1.5em;
  flex: 1;
}

.header-button {
  width: 5.5em;
  color: white;
  background-color: deepskyblue;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 10px;
  margin-right: 10px;
}

.centered-text {
  text-indent: 0;
  text-align: center;
}

.type-dropdown option {
  height: 1.5em;
}

.timer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12em;
}